<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/preview.css" />
    <title>Document</title>
</head>

<body>
    <%- include("partials/nav.ejs", {}) %>
        <main class="main">
            <dev class="main__container">
                <div class="info__table">
                    <table>
                        <tr>
                            <td>Matriculation Numb</td>
                            <td>
                                <%= cert.registrationNumber %>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>Holder's Name</td>
                            <td>
                                <%= `${cert.firstName} ${cert.lastName}` %>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>
                                <%= cert.school %>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>Year Of Graduation</td>
                            <td>
                                <%= cert.graduationYear %>
                            </td>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="preview__continer">
                    <object allowfullscreen froameborder="0" javascript="allow" data="<%= cert.certUrl %>"
                        type="application/pdf">
                        <embed src="<%= cert.certUrl %>" type="application/pdf" fraomeborder="0" allowfullscreen>
                        <p>This browser does not support PDFs. Please download the PDF to view it</p>
                        </embed>
                    </object>
                </div>
            </dev>
        </main>
</body>

</html>